:root {
  --gold: #c5a880;
  --black: #050505;
  --deep: #000000;
  --glass: rgba(255, 255, 255, 0.03);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden; /* Anti bug putih */
  background-color: var(--black);
  color: white;
  -webkit-font-smoothing: antialiased;
}

* { box-sizing: border-box; }